@import 'https://use.fontawesome.com/releases/v5.6.3/css/all.css';

/* Font-Family */

body {
    font-family: 'Merriweather', serif;
}

/* Steal the colors  */

:root {
    --nav2-button-background-color: #370511;
   
}

a {
    text-decoration: none;
    color: inherit;
}

/* Beige Color Hex Code == #f2f2d9 */
/* button-background-color == #370511 */

/* SECTION 1 / HEADER */
/* How to cut the bottom part of an image 1) create a div container wrapping the back-image 2) add overflow hidden to the container + add less height px  */

/* LOGO */

#h3special {
        font-size: 34px;
        /* -webkit-text-stroke: 1px black; */
        font-style: italic;
        position: absolute;
        display: inline-block;
        font-family: 'Dancing Script', cursive;
        margin-top: -40px;
        margin-left: -170px;
}

#logo {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: -41px;
    margin-left: 165px;
    opacity: 0.5;
    border-radius: 35px;
    /* box-shadow: 0 0 10px 2px #333333; */
}

#beige {
    color: beige;
}

#beige2 {
    text-align: center;
    font-size: 18px;
}

#beige3 {
    margin-top: 20px;
    margin-left: 200px;
}

/*====================== */

header {
    background-color: black;
}

#back-image {
    background-image: url('images/WitcherBackground17.jpg');
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-position: center;
    background-size: cover;
    max-width: 160%;
    height: 1400px;
    opacity: 0.8;
} 

#imageheader2 {
    position: absolute;
    width: 200px;
    height: 140px;
    margin-top: -480px;
    margin-left: 120px;
    transform:rotate(-10deg);
}

#imageheader3 {
    border-radius: 15px;
    box-shadow: 0 0 10px 2px #333333;
    width: 25rem;
    height: 22rem;
}

#para {
    display: block;
    color: black;
    -webkit-text-stroke: 1px black;
    margin-top: -125px;
    margin-left: 185px;
    /* opacity: 1; */
    width: 200px;
    padding: 5px;
    transform:rotate(-10deg);
}

#para2 {
    background-color: transparent;
    border: none;
    font-size: 24px;
}


/* #imageheader3 {
    position: absolute;
    background-color: transparent;
    width: 250px;
    height: 20px;
    margin-top: -250px;
    margin-left: 100px;
} */

#container {
        height: 650px;
        width: 160%;
        overflow: hidden;
        border-radius: 5px solid red;
}

button {
    font-size: 18px;
    padding-right: 30px;
    padding-top: auto;
    padding-bottom: auto;
}

#nav {
    position: absolute;
    width: 1200px;
    height: 50px;
    margin-top: -580px;
    margin-left: 430px;
    display: inline-block;
    padding-bottom: 65px;
    /* border: 2px solid red; */
}

#navspecial {
    display: inline-block;
    margin-top: -30px;
    margin-left: 370px;
    position: absolute;
   }

#navspecial2  {
    display: inline-block;
    margin-top: -30px;
    margin-left: 1150px;
    position: absolute;
   }

.nav1 {
    background-color: transparent;
    border-style: none;
    padding: 5px 15px;
    color:beige;
}

.nav2 {
    border-radius: 30px;
    background-color: var(--nav2-button-background-color);
    color: beige;
    border: 2px solid var(--nav2-button-background-color);
    padding: 3px 25px;
}

.nav3 {
    background-color: transparent;
    border-style: none;
    border: 2px double beige;
    border-radius: 50px;
    padding: 2px;
    font-size: 20px;
}

#nav33 {
    color:white;
}

#nav4 {
    /* background-color: transparent; */
    /* background: rgb(55,5,17);
    background: radial-gradient(circle, rgba(55,5,17,1) 0%, rgba(242,242,217,1) 100%); */
    background: rgb(55,5,17);
    background: linear-gradient(0deg, rgba(55,5,17,1) 0%, rgba(242,242,217,1) 100%);
    border: 3px solid black;
    border-radius: 15px;
    color:beige;
    text-align: center;
    padding: 5px;
    width: 100px;
    margin-left: 30px;
    margin-top: -2px;
    position: absolute;
}

/* #nav5 {
   position: absolute;
   background-color: transparent;
   margin-top: -340px;
   margin-left: 1200px;
   color: black;
}

#nav6 {
    position: absolute;
    background-color: transparent;
    margin-top: -300px;
    margin-left: 1140px;
    width: 150px;
    height: 150px;
    font-size: 50px;
    color: black;
} */

h1 {
    font-size: 42px;
}

#exclusive {
    position: absolute;
    margin-top: -470px;
    margin-left: 530px;
    /* border: 3px solid blue; */
    max-width: 650px;
}

#h1special {
    font-size: 60px;
    font-weight: bold;
    -webkit-text-stroke: 4px black;
}

#navh3 {
    font-size: 30px;
}

.navp {
    font-size: 20px;
}

.main1 {
    text-align: left;
    padding-left: 30px;
}

#angle1 {
    transform:rotate(135deg);
    width: 100px;
    height: 100px;
    background-color: transparent;
    color: black;
    margin-left: 620px;
    margin-top: -20px;
    position: absolute;
    /* border: 2px solid red; */
   
}

#angle2 {
    transform:rotate(225deg);
    width: 100px;
    height: 100px;
    background-color: transparent;
    color: black;
    margin-left: -70px;
    margin-top: -20px;
    position: absolute;
    /* border: 2px solid orange; */
}

#angle3 {
    transform:rotate(315deg);
    width: 100px;
    height: 100px;
    background-color: transparent;
    color: black;
    /* border: 2px solid blue; */
    margin-left: -70px;
    margin-top: -370px;
    position: absolute;
}

#angle4 {
    transform:rotate(405deg);
    width: 100px;
    height: 100px;
    background-color: transparent;
    color: black;
    /* border: 2px solid green; */
    margin-left: 620px;
    margin-top: -370px;
    position: absolute;
}

/* SECTION 2 / MAIN */

/* main {
    background-color: beige;
} */

#mainh2 {
    text-align: center;
    font-size: 42px;
    -webkit-text-stroke: 1px black;
}

#psection2h2 {
    font-size: 14px;
    text-align: center; 
}

#grid {
    display: grid;
    row-gap: 5rem;
    column-gap: 1rem;
    grid-template-rows: repeat(2 , 1fr);
    grid-template-areas: 
    "sec1 sec2 sec3"    
    "sec4 sec5 sec6";
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 250px;
    
    /* justify-content: center;
    align-items: center; */
    text-align: center; 
}

.gridspecial {
    width: 60%;
    height: 100%;
    display: block;
    padding: 0.5rem;
    box-shadow: 1px rgba(0, 0, 0, 0.25) ; 
    border: 0.2rem solid #000;
    border-radius: 15px;
}

img {
    width:25rem;
    height: 22rem;
}

#sec1 {
    grid-area: sec1;
}

#sec2 {
    grid-area: sec2;
}

#sec3 {
    grid-area: sec3;
}

#sec4 {
    grid-area: sec4;
}

#sec5 {
    grid-area: sec5;
}

#sec6 {
    grid-area: sec6;
}

.mainsec2  {
    border-radius: 30px;
    border: none;
    background-color: var(--nav2-button-background-color);
    padding: 10px 30px;
    /* -webkit-text-stroke: 1px black; */
    color: beige;
}

h4 {
    font-size: 24px;
    -webkit-text-stroke: 1px black;
}

#part1 {
    -webkit-text-stroke: 2px black;
}

#part2 {
    -webkit-text-stroke: 2px white;
}

#imgul {
    margin-top: -55px;
    margin-left: -35px;
    position: absolute;
}

.imgli {
    color: black;
    /* border: 2px solid red; */
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 1px;
    text-align: center;
    color: rgb(204, 15, 15);
}

#imglix {
    margin-top: -365px;
    margin-left: 222px;
    position: absolute;
}

#imgul2 {
    margin-top: -80px;
    margin-left: -35px;
    position: absolute;
}

#imglix2 {
    margin-top: -390px;
    margin-left: 222px;
    position: absolute;
}

#imgul3 {
    margin-top: -80px;
    margin-left: -35px;
    position: absolute;
}

#imglix3 {
    margin-top: -390px;
    margin-left: 222px;
    position: absolute;
}

#imgul4 {
    margin-top: -80px;
    margin-left: -35px;
    position: absolute;
}

#imglix4 {
    margin-top: -390px;
    margin-left: 222px;
    position: absolute;
}

#imgul5 {
    margin-top: -80px;
    margin-left: -35px;
    position: absolute;
}

#imglix5 {
    margin-top: -390px;
    margin-left: 222px;
    position: absolute;
}

#imgul6 {
    margin-top: -80px;
    margin-left: -35px;
    position: absolute;
}

#imglix6 {
    margin-top: -390px;
    margin-left: 222px;
    position: absolute;
}

#imgli2 {
    background-color: transparent;
    color: rgb(204, 15, 15);
}

#imgli3 {
    color: grey;
}

#imgli4 {
    color: grey;
}


/* SECTION 3 / FOOTER */

footer {
    max-width: 1920px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

ul {
    list-style: none; 
    display: inline-block;
}

.div20 {
    width: 25%;
    padding: 30px 20px;
}

.dev40 {
    width:30%;
    text-align: center;
}

#dev22 {
    display: flex;
    text-align: right;
    align-items: right;
    justify-content: right;
}

#dev41 {
    padding-right: 5%;
    font-size: 24px;
}

#dev42 {
    padding-left: 7%;
}

i {
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 1.7rem;
    padding: 0.3rem;
}

span {
    margin-left: -5px;
}

#copy {
    background-color: black;
    color: white;
    text-align: right;
    margin-top: -20px;
}

#strike {
    margin-top: -212px;
    margin-left: 950px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border:1px solid black;
}

#strike1 {
    width: 200px;
    height: 200px;
}










